        #evaluations {
          font-family: Arial, Helvetica, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

        #evaluations td, #evaluations th {
          border: 1px solid #ddd;
          padding: 8px;
        }

        #evaluations tr:nth-child(even){background-color: #f2f2f2;}

        #evaluations tr:hover {background-color: #ddd;}

        #evaluations th {
          padding-top: 12px;
          padding-bottom: 12px;
          text-align: left;
          background-color: #4CAF50;
          color: white;
        }