/* Variables css définies pour toutes les règles.
 * Toutes sont préfixées de 2 tirets pour éviter un conflit avec un mot-clé css
 */
:root {
  --bgHover: lightblue;
  --bgLight: lavender;
  --borderBgLight: #bfbffd;
  --navHeight: calc(1.2em + 2ex);
  --cardBg: lavender;
}

/* Zone de navigation (liens) */
nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
nav > a {
  padding: 1ex;
  text-decoration: none;
  line-height: 1.2em;
}
nav > a:hover {
  background-color: var(--bgHover);
}
/* le menu complet de navigation */
#mainNav {
  background-color: var(--cardBg);
  position: fixed; /* ne défile pas */
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  border-bottom: solid 1px var(--borderBgLight);
}

body {
  position: absolute; /*pour prendre en compte le menu de navigation */
  top: calc(var(--navHeight) + 1px);
  left: 0;
  margin: 1em;
}

/* flex en ligne avec wrap */
#index_articles > * {
  float: left;
  padding: 0 1em;
  margin: 1em;
  background-color: var(--bgLight);
  border-radius: 1em;
  max-width: 30em;
}
#index_articles ~* {
  clear: left;
}

.erreur {
  color: red;
}
/* Horizontal flex container */
.flexh {
  display: flex;  
}

tr:nth-child(even) {
  background-color: #EEEEEE;
}
tr:nth-child(odd) {
  background-color: #DDDDDD;
}
tr:first-child {
  background-color: #CCCCCC;
}
td, th {
  padding: 0.5em 1em;
}
a:link.lienPasSouligne {
  text-decoration: none;
}
